/* RESET DE BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY GLOBAL */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #03031f;
  color: #fffefe;
  line-height: 1.6;
}

/* HEADER */
header {
   background: url("img.jpg");
  color: #fff;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
  font-family: 'Courier New', Courier, monospace;
}

header h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

/* NAVIGATION */
nav {
  margin-top: 10px;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 1.3rem;
  transition: transform 0.5s ease;
}

nav a:hover {
  transform: scale(1.05);
}

/* MAIN CONTENT */
main {
  max-width: 1800px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
}

main h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fefeff;
}

main p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

/* FORMULAIRE */
form {
  padding: 30px;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

input, textarea, button {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

input:focus, textarea:focus {
  border-color: #1a1a2e;
  outline: none;
}

button {
  background: url("img.jpg");
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
  font-family: 'Courier New', Courier, monospace;
  transition: transform 0.3s ease;
}

button:hover {
transform: scale(1.05);
}

/* IMAGES DE LA GALERIE */
main img {
  width: 200px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

main img:hover {
  transform: scale(1.05);
}

/* FOOTER */
footer {
  background-color: #1a1a2e;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace;
  background: url("img.jpg");
 }
/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  nav a {
    display: block;
    margin: 10px 0;
  }

  main {
    padding: 0 10px;
  }

  form {
    width: 90%;
  }
}
section h2 {
    text-align: center;
}


#vd{
  border-radius: 15px;
}